@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .contact-section {
    @apply min-h-screen w-full
    my-8 p-3 rounded-md text-white
    bg-gray-dim bg-opacity-25 backdrop-blur z-10
    md:flex gap-8 relative;
  }

  /* -----
  ----------------------------------------------------------------
  -----   Address styless   ----------------------------------
  ----------------------------------------------------------------
  ------- */

  .address-div {
    @apply rounded bg-gray-dark bg-opacity-75 mb-4 p-2;
  }

  .address-div p {
    @apply text-zinc-400 mb-4 md:mb-4 md:w-1/3;
  }

  .address-div .header h1 {
    @apply text-xl sm:text-2xl md:text-3xl font-bold my-4;
  }

  big {
    @apply font-extrabold text-orange-500;
  }

  .information-div {
    @apply w-full h-fit my-4 md:my-8 
    flex flex-col p-1 
    border border-gray-dim border-opacity-30 rounded;
  }

  .information-div a,
  .information-div span {
    @apply my-2 p-1 md:py-2 
    border-b border-gray-dim border-opacity-30;
  }

  .contact-aside {
    @apply w-24 h-14 my-2 pl-2 
    flex items-center justify-between;
  }

  .contact-social {
    @apply text-xl text-black hover:text-black 
    bg-white bg-opacity-50 hover:bg-opacity-90
    p-2 rounded-full;
  }

  /* -----
  ----------------------------------------------------------------
  -----   contactForm styless   ----------------------------------
  ----------------------------------------------------------------
  ------- */

  .custom-form {
    @apply w-full md:w-2/3
    lg:grid lg:grid-cols-2 gap-6;
  }

  .custom-form div {
    @apply flex flex-col mb-3 lg:mb-2;
  }

  .custom-form div label {
    @apply my-1 pl-1 font-sans font-medium;
  }

  .custom-form div input[type="text"],
  #email {
    @apply h-10 px-2 bg-white text-gray-dark placeholder-gray-dim outline-none;
  }

  .custom-form div aside {
    @apply my-2 mx-1 text-lg;
  }

  .custom-form div aside input[type="checkbox"] {
    @apply w-5;
  }

  #message {
    @apply w-full h-32 max-h-52 min-h-[50px]
    resize-y p-2 text-gray-dark outline-none 
    border-2 border-gray-dim rounded;
  }

  .span-2 {
    @apply col-span-2;
  }
}
