@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        -webkit-tap-highlight-color: transparent;
    }

    html,
    body {
        @apply scroll-smooth overflow-x-hidden font-Inter
    }

    ::-webkit-scrollbar {
        @apply w-[2px]
    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply bg-black
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-200
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-400
    }

    #root {
        @apply w-full bg-gray-dark text-gray-light min-h-screen
    }

    main {
        @apply flex flex-col items-center w-screen font-sans
    }

    a {
        @apply hover:text-blue-400 transition-all duration-300
    }
    
    /* header */
    
    .header-style {
        @apply w-full top-0 left-0 capitalize text-white text-[.92rem] z-50
    }

    .topsection {
        @apply w-full md:py-1 md:px-[.85rem] bg-black flex justify-center items-center
    }
    
    .topsection-section {
        @apply w-full py-1 px-[.85rem] text-white flex justify-between items-center
    }

    .topsection-logo {
        @apply md:text-xl flex flex-col font-Montserrat font-bold text-blue-300
    }

    .architecture {
        @apply text-[.87em] sm:text-[.99em] md:text-[1.1em] lg:text-[1.3em] font-bold
    }
    
    .com {
        @apply lowercase self-end text-[.7rem] sm:text-[.88em] md:text-[.99em] lg:text-[1.05em] mt-[-0.55rem]
    }

    .topsection-div {
        @apply flex items-center justify-between text-black text-[.65rem]
    }

    .social-style {
        @apply bg-gray-500 p-[.25rem] rounded-full transition-all duration-300 hover:bg-white hover:text-black
    }

    .transition-custom {
        @apply overflow-hidden md:overflow-visible transition-all duration-300
    }

    .nav-style {
        @apply w-full md:h-[60px] px-1 flex  justify-center bg-gray-semi bg-opacity-80 backdrop-blur-sm
    }
    
    .nav-substyle {
        @apply w-full lg:w-[80%] xl:w-full flex flex-col items-center justify-between md:flex-row-reverse 
    }

    .nav-section-div-style {
        @apply w-full md:w-fit flex items-center justify-between text-[.84rem] text-white 
    }
    
    .nav-link-div-btn {
        @apply w-full flex items-center justify-between
    }
    
    .nav-link-comp-container {
        @apply w-full md:w-[90%] capitalize md:flex items-center justify-between px-3 pt-1 pb-4 md:pb-1 overflow-hidden md:overflow-visible transition-all duration-300 md:transition-none
    }
    
    .navLink-style {
        @apply transition-all duration-500 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-2 bg-black md:bg-white md:text-gray-dark p-2 md:absolute my-1 w-[95vw] md:left-[2%] lg:left-[-25%] xl:left-[2%] md:top-[75px] md:z-0 md:invisible md:group-hover:top-[55px] md:group-hover:z-50 md:group-hover:visible
    }

    header section h3 {
        @apply my-1 text-[.98rem]
    }

    .underline-div {
        @apply my-1 text-[.98rem] border-b
    }

    .underline {
        @apply w-20 h-[.15rem] bg-blue-500 mb-[-.09rem]
    }

    .cart-link-style {
        @apply bg-orange-500 hover:bg-orange-600 p-[.6rem] flex items-center justify-center text-[.91rem]
    }

    /* 
    ------ Pages
     */

    .general-flex {
        @apply w-[80%] min-w-[300px] max-w-[1150px] flex flex-col items-center text-gray-400 text-center
    }

    /* Home Page */
    .general-flex-article {
        @apply mt-2 mb-10
    }

    .general-flex h1, .general-flex h2 {
        @apply capitalize my-2 text-white text-lg
    }

    .cardsContainer {
        @apply w-full flex flex-col md:flex-row gap-[.06rem]
    }
    
}